@font-face {
  font-family: 'Montserrat-Regular';
  src: url('src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('src/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonPro-SemiBold';
  src: url('src/assets/fonts/CrimsonPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calistoga-Regular';
  src: url('src/assets/fonts/Calistoga-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('src/assets/fonts/AlexBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #fff 0%, #fce4ec 100%);
  background-attachment: fixed; 
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}